      /* MODAL */
     body {
    margin: 0;
    background: #0b0b0f;
    color: white;
    font-family: Arial;
}
     
      .modal {
            display: none;
            position: fixed;
            top: 0; left: 0;
            width: 100%; height: 100%;
            background: rgba(0,0,0,0.8);
            justify-content: center;
            align-items: center;
            padding: 30px;
            z-index: 1000;
        }

        .modal-content {
            background: white;
            display: flex;
            gap: 20px;
            padding: 20px;
            border-radius: 10px;
            max-height: 90vh;
            overflow-y: auto;
        }

        .modal-left img {
            width: 350px;
            border-radius: 10px;
        }

        .modal-right {
            width: 400px;
        }

        .close {
            position: absolute;
            top: 20px;
            right: 40px;
            font-size: 35px;
            color: white;
            cursor: pointer;
        }

        .similar-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 8px;
        }

        .similar-grid img {
            width: 100%;
            border-radius: 8px;
        }