body {
    margin: 0;
    background: #0b0b0f;
    color: white;
    font-family: Arial, sans-serif;
}

/* TOP BAR */
.topbar {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    background: #000;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    margin-right: 30px;
}

.topbar input {
    flex: 1;
    padding: 10px;
    border-radius: 25px;
    border: none;
}

.profile {
    margin-left: 20px;
    cursor: pointer;
}

/* FEED GRID */
.feed {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 cards side by side */
    gap: 25px;

    padding: 30px;
    height: calc(100vh - 80px); /* full screen minus topbar */
    box-sizing: border-box;
}


.card img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* keeps logos clean */
}


.card {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    background: #000;
}


.card img
.card video {
    width: 100%;
    border-radius: 15px;
}

/* OVERLAY */
.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    opacity: 0;
    transition: 0.3s;
}

.card:hover .overlay {
    opacity: 1;
}

.overlay button {
    background: red;
    border: none;
    color: white;
    padding: 6px 12px;
    border-radius: 20px;
    cursor: pointer;
}
