
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-box {
  background: #111;
  border-radius: 24px;
  padding: 24px;
  max-width: 900px;
  width: 90%;
}

.modal-main-img {
  max-width: 420px;
  max-height: 75vh;
  border-radius: 20px;
  object-fit: contain;
}

/* RELATED GRID */
.related-grid {
  margin-top: 20px;
  column-count: 3;
  column-gap: 16px;
}

.related-grid img {
  width: 100%;
  margin-bottom: 16px;
  border-radius: 14px;
  cursor: pointer;
}
